[[source]]

verify_ssl = true
url = "https://pypi.python.org/simple"
name = "pypi"


[dev-packages]



[requires]

python_version = "3.5"


[packages]

jupyter = "*"
pandas = "*"
folium = "*"
geopy = "*"
matplotlib = "*"
geopandas = "*"
rtree = "*"